<section class="container-contatos">

    <h1 class="text-center">Contate-nos</h1>
    <h3 class="text-center">Estamos disponíveis 24/7 para a sua dúvida.</h3>
   
    <article class="text-center">
       <img src="icon_phone.png" alt="Telefone">
       <a href="tel:81 54332266" class="contatos">351 912 345 678</a>
       <small>Funcionamento de 08:00h às 18:00h.</small>
       <br>
   <br>
   
    </article>
   
    <article class="text-center margin-top-40">
       <img src="icon_email.png" alt="Email">
       <a href="larissavivi4@gmail" class="contatos">talktomia@ai.com</a>
       <small>Respondemos email-s o mais rápido possível.</small>
    </article>
   
   </section>
   
   <!--Área de clicar para ver serviços e contatos-->
   <section class="container-servicos-contatos">
   
       <h1>Conheça os nossos serviços.</h1>
   
       <div class="botoes-servicos-contatos">
           <a href="servicos.html" class="botao">Os nossos serviços</a>
       </div>
   
   </section>
