<div class="container">
  <div class="container-question">
    <label for=""> Pergunta </label>
    <textarea cols="100" rows="10" [(ngModel)]="questionText"></textarea>
    <button (click)="sendQuestion()"> Enviar </button>
    <span *ngIf="isloading"> Aguarde, conectando...</span>
    <div *ngIf="errorText"> Ocorreu um erro!!</div>
  </div>
  <div class="container-answer">
    <ng-container *ngFor="let questionAnswer of questionAnswerList.slice(1)">
      <dt *ngIf="questionAnswer.role === 'user'"><strong>Pergunta:</strong> {{ questionAnswer.content }}</dt>
      <dd *ngIf="questionAnswer.role === 'assistant'"><strong>Resposta:</strong> {{ questionAnswer.content }}</dd>
    </ng-container>
  </div>
</div>
