<!-- Quem somos -->
<section class="container-quem-somos">
    <article class="servico">
        <img src="./../../../assets/img/icon_ai.png" class="icone" alt="icone" alt="Inteligência Artificial">
        <p class="servico-texto">
            Somos especialistas em <span class="servico-texto-realce">Inteligência Artificial (AI).</span><br>
            Trabalhamos para encontrar soluções tecnologicamente inteligentes para todas as áreas epresariais.
        </p>
    </article>
    <article class="servico">
        <img src="./../../../assets/img/icon_lab.png" class="icone" alt="icone" alt="Laboratório moderno">
        <p class="servico-texto">
            Nossos laboratórios são os mais modernos da atualidade.
        </p>

    </article>

    <article class="servico">
        <img src="./../../../assets/img/icon_computer.png" class="icone" alt="Programadores experientes">
        <p class="servico-texto">
            Os nossos programadores são os técnicos mais experientes do mercado.
        </p>
    </article>

</section>
